    {% extends "base.html" %}

    {% block title %}
        Главная страница/JARVIS
    {% endblock %}

    {% block content %}        
        <div class="jumbotron">            
            <div class="slide">
                <div class="hero herofront-fly-in-animation" style="opacity: 1;">
                    <div id="herofront" class="heroimg herofront-flare-animation" style="margin-top: 80px; margin-left: -20px; display: block;">
                        <div class="herofront jarvisimg"></div>
                    </div>
                    <div id="heroright" class="heroimg" style="margin-top: 80px; margin-left: -20px; background-position: -250px center; display: none;">
                        <div class="heropoint jarvisimg"></div>
                    </div>
                    <div class="heroshadow heroshadow-idle" style="transform: scale(1) translateX(0px);"></div>
                </div>
                <div class="container">
                    <div class="title">
                        <div class="beam"></div>
                        <div class="burner"></div>
                        <div id="webixtemplate"></div>      
                    </div>
                </div>
            </div>
        </div>       
        <div id="menu" style="top: 10px; left: 10px; height: 33px; width: 33px; position: fixed; z-index: 5000;"></div>
        <div class="smoked" style="top: 70px; left: 50%; position: fixed; z-index: 5000; color: #FFF;"><h1>"JARVIS"</h1></div>

        <script src="./static/code/index.js?{{SERVER_VERSION}}"></script>              
    {% endblock %}
