html {
  min-height: 100%;
}
body {
  margin: 0px;
}
body.mainpage {
    background: #fffef2;
    /* margin: 0px; */
    font-family: 'Open Sans';
    overflow-x: hidden;
}
.jumbotron {
    background: #0b1420;
    height: 100%; 
    min-width: 1076px;
    background: -moz-linear-gradient(top,  #0b1420 0%, #112033 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b1420), color-stop(50%,#112033)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0b1420 0%,#112033 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0b1420 0%,#112033 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0b1420 0%,#112033 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #0b1420 0%,#112033 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1420', endColorstr='#112033',GradientType=0 ); /* IE6-9 */
    z-index: 2;
    position: relative;
}
.jumbotron .slide {
    width: 1040px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.jumbotron .slide .hero {
    width: 550px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    /* height: 200px; */
    color: #fff;
    text-align: center;
    vertical-align: top;    
}
.jumbotron .slide .hero .heroimg {
    /* margin-top: 100px;  */
    margin-right: 50px;
    margin-left: -120px;
    height: 368px;
    position: absolute;
    z-index: 3;
    display: block;
}
/* .jumbotron .slide .hero .heroimg  */
.herofront{
    background-image: url('./images/hero_front.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 100% auto;
    background-position: center center;
    width: 213;
    position: absolute;
    z-index: 3;
}
.heropoint{
    background-image: url('./images/hero_point.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 100% auto;
    background-position: center center;
    width: 375px;
    position: absolute;
    z-index: 3;
}
.jarvisimg {
  margin-top: 80px;
  margin-left: -25px;
  height: 450px;
}

.jumbotron .slide .hero .heroshadow {
    background-image: url('./images/heroshadow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width:250px;
    height:84px;
    position: absolute;
    z-index: 2;
    top: 590px;
    margin-left: -65px;
}
.jumbotron .slide .container {
    width: 800px;
    display: table-cell;
}
.jumbotron .slide .container .title {
    padding-top: 20px;
    color: #FFF;
}
.jumbotron .slide .container .title .beam {
    background-image: url('./images/beam.png');
    background-repeat: no-repeat;
    width: 505px;
    height: 50px;
    position: absolute;
    z-index: 5;
    margin-top: 150px;
    margin-left: 0px;
    transform: scaleX(0.36);
    opacity: 0;
}

.jumbotron .slide .container .title .burner {
    height: 50px;
    width: 5px;
    position: absolute;
    z-index: 3;
    background-color: #f8eb00;
    border-radius: 3px;
    margin-top: 150px;
    margin-left: 0px;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(246, 228, 0, 1);
}
.herofront-fly-in-animation {
    animation-name: hero-fly-in-frames;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-name: hero-fly-in-frames;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
}
.herofront-flare-animation {
    animation-name: herofront-animation-frames;
    -webkit-animation-name: herofront-animation-frames;	

    animation-duration: 2s;	
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;	
    -webkit-animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes herofront-animation-frames {
    0%{
        margin-left: -20px;
        margin-top: 80px;
    }
    50% {
        margin-left: -20px;
        margin-top: 70px;
    }
    
    100% {
        margin-left: -20px;
        margin-top: 80px;
    }
}
@-webkit-keyframes herofront-animation-frames {
    0%{
        margin-left: -20px;
        margin-top: 80px;
    }
    50% {
        margin-left: -20px;
        margin-top: 70px;
    }
    100% {
        margin-left: -20px;
        margin-top: 80px;
    }
}
@keyframes hero-fly-in-frames {
    0%{
        opacity: 0;
        transform: scale(0.01) translateY(-250px)
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0px)
    }
}

@-webkit-keyframes hero-fly-in-frames {
    0%{
        opacity: 0;
        -webkit-transform: scale(0.01) translateY(-250px)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(0px)
    }
}

.heroshadow-idle {
    animation-name: heroshadow-idle-frames;
    -webkit-animation-name: heroshadow-idle-frames;

    animation-duration: 2s;	
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;	
    -webkit-animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes heroshadow-idle-frames {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes heroshadow-idle-frames {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

.heroshadow-liftup {
    animation-name: heroshadow-liftup-frames;
    -webkit-animation-name: heroshadow-liftup-frames;

    animation-duration: 0.4s;	
    -webkit-animation-duration: 0.4s;

    animation-timing-function: linear;	
    -webkit-animation-timing-function: linear;

    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@keyframes heroshadow-liftup-frames {
    0% {
        transform: scale(1) translateX(0px);
    }
    100% {
        transform: scale(0.9,0.4) translateX(80px);
    }
}
@-webkit-keyframes heroshadow-liftup-frames {
    0% {
        -webkit-transform: scale(1) translateX(0px);
    }
    100% {
        -webkit-transform: scale(0.9,0.4) translateX(80px);
    }
}

.heroshadow-liftdown {
    animation-name: heroshadow-liftdown-frames;
    -webkit-animation-name: heroshadow-liftdown-frames;

    animation-duration: 0.4s;	
    -webkit-animation-duration: 0.4s;

    animation-timing-function: linear;	
    -webkit-animation-timing-function: linear;

    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@keyframes heroshadow-liftdown-frames {
    0% {
        transform: scale(0.9,0.4) translateX(80px);
    }
    100% {
        transform: scale(1) translateX(0px);
    }
}
@-webkit-keyframes heroshadow-liftdown-frames {
    0% {
        -webkit-transform: scale(0.9,0.4) translateX(80px);
    }
    100% {
        -webkit-transform: scale(1) translateX(0px);
    }
}
.beam-animation {
    animation-name: beam-animation-frames;
    -webkit-animation-name: beam-animation-frames;	

    animation-duration: 3s;	
    -webkit-animation-duration: 3s;

    animation-timing-function: linear;	
    -webkit-animation-timing-function: linear;

    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@keyframes beam-animation-frames {
    0%{
        opacity: 1;
        transform: scaleX(0.36);
        margin-left: -340px;
    }
    99% {
        opacity: 1;
        transform: scaleX(1.43);
        margin-left: -71px;
    }
    100% {
        opacity: 0;
        transform: scaleX(1.43);
        margin-left: -71px;
    }
}
@-webkit-keyframes beam-animation-frames {
    0%{
        opacity: 1;
        -webkit-transform: scaleX(0.36);
        margin-left: -340px;
    }
    99% {
        opacity: 1;
        -webkit-transform: scaleX(1.43);
        margin-left: -71px;
    }
    100% {
        opacity: 0;
        -webkit-transform: scaleX(1.43);
        margin-left: -71px;
    }
}

.burner-animation {
    animation-name: burner-animation-frames;
    -webkit-animation-name: burner-animation-frames;	

    animation-duration: 3s;	
    -webkit-animation-duration: 3s;

    animation-timing-function: linear;	
    -webkit-animation-timing-function: linear;

    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@keyframes burner-animation-frames {
    0%{
        opacity: 1;
        margin-left: 0px;
    }
    99% {
        opacity: 1;
        margin-left: 540px;
    }
    100% {
        opacity: 0;
        margin-left: 540px;
    }
}
@-webkit-keyframes burner-animation-frames {
    0%{
        opacity: 1;
        margin-left: 0px;
    }
    99% {
        opacity: 1;
        margin-left: 540px;
    }
    100% {
        opacity: 0;
        margin-left: 540px;
    }
}