mssql-django
django-jet
pydantic
kafka-python
sql_metadata
pandasql
celery
Django==2.2.24
django-redis
django-redis-sessions
gunicorn
Jinja2
jsonpath
jsonpath-ng
kafka-python
ldap3
lxml
pandas
pandasql
pyodbc
redis
redis-session
requests
sentry-sdk