.app {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100vh;
  /* max-height: 100vh; */
  /* overflow-y: auto; */
  overflow: hidden;
}

.app-header {
  display: flex;
  flex-flow: row nowrap;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  justify-content: space-between;
  min-width: 100vw;
}

.noborder {
  border: none;
}

/* main */
.z-index-max {
  z-index: 65535;
}

.user-select {
  -webkit-user-select: none;
  user-select: none;
}

/* scroll bars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  /* background: linear-gradient(45deg, var(--surface-border), var(--primary-color), var(--surface-border), var(--primary-color), var(--surface-border))!important; */
  background: var(--primary-color)!important;
  opacity: 0.75;
  border-radius: 10px;
  border: 2px solid var(--surface-border);
  /* border:2px solid var(--primary-color); */
}

::-webkit-scrollbar-thumb:vertical {
  /* background: linear-gradient(45deg, var(--surface-border), var(--primary-color), var(--surface-border), var(--primary-color), var(--surface-border))!important;   */
  background: var(--primary-color)!important;
  opacity: 0.75;
  border-radius: 10px;
  border: 2px solid var(--surface-border);
  /* border: 2px solid var(--primary-color); */
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background:
      linear-gradient(120deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(240deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(0deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
  background-color: var(--primary-color);
}

::-webkit-scrollbar-button:vertical:end:increment {
  background:
      linear-gradient(300deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(60deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(180deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
  background-color: var(--primary-color);
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background:
      linear-gradient(210deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(330deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(90deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
  background-color: var(--primary-color);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background:
      linear-gradient(30deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(270deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
  background-color: var(--primary-color);
}

/* logo */
.logo.light {
  filter: invert(100%);
}

.border-radius-10 {
  border-radius: 10px!important;
}

/* search input */
.search-settings {
  margin-left: 0.5rem;
}

.width-100 {
  width: 100%;
}

.search-form {
  width: 800px;
  flex-basis: 800px;
}

.search-input-text .p-inputtext {
  width: 100%;
  border-radius: 10px!important;
  padding-left: 30px;
}

.search-input-icon {
  z-index: 1;
}

.p-autocomplete-loader {
  display: none;
}

/* .p-input-icon-right > .suffix, .p-input-icon-right > .suffix:focus {
  height: 100%;
  right: 0rem!important;
  top: 0rem!important;
  margin-top: 0rem!important;
  border: none!important;
  outline: none!important;
	outline-style: none!important;
	box-shadow: none!important;
	border-color: transparent!important;  
} */

/* type filter */
.p-input-icon-right > .suffix.btn-type, .p-input-icon-right > .suffix.btn-type:focus {
  top: 0rem!important;
  right: 0rem!important;
  /* border: 1px solid!important;
  border-color: var(--surface-border)!important; */
  margin-top: 0.15rem!important;
  margin-right: 0.15rem!important;
  height: 90%;
}

.type-filter {
  justify-content: center!important;
  height: 1.75rem;
  width: 100%;
  /* width: 10%; */
}

.type-filter .p-inputtext {
  padding-top: 0.1rem;
  padding-left: 0.5rem;
}

/* date filter */
.date-filter .p-button {
  justify-content: center!important;
  height: 1.75rem;
  padding: 0.5rem;
}

/* result-tabview */
.tabview-result .p-tabview-title, .tabview-result .p-tabview-close {
  margin-left: .5rem;
}

.pi-spinner {
  color: var(--primary-color)!important;
}

.tabview-result i {
  vertical-align: middle;
}

.p-tabview .p-tabview-panels {
  padding: 0rem!important;
}

.p-tabview-nav-link {
  border-top-left-radius: 0.5rem!important;
  border-top-right-radius: 0.5rem!important;
  border-width: 2px!important;
  height: 2.25rem;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: 2px solid var(--surface-border)!important;  
  border-bottom-color: var(--primary-color)!important;
}

.p-tabview .p-tabview-nav {
  border-bottom-color: var(--primary-color)!important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border: 2px solid var(--primary-color)!important;  
}

.p-tabview-nav-next.p-tabview-nav-btn.p-link {
  border: solid var(--primary-color)!important;
  border-radius: 10px!important;
  border-width: 2px!important;
  height: 1.75rem;
  width: 1.75rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}

.p-tabview-nav-prev.p-tabview-nav-btn.p-link {
  border: solid var(--primary-color)!important;
  border-radius: 10px!important;
  border-width: 2px!important;
  height: 1.75rem;
  width: 1.75rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}

/* datatable */
.p-filter-column.no-filter-icon .p-column-filter-menu-button {
  display: none!important;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem;
  background: var(--surface-a)!important;
  /* flex: 0 1 auto; */
  /* flex-basis: 100%; */
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem;
  white-space: pre-wrap;
  overflow-x: auto;
  /* white-space: normal; */
}  

.p-datatable .p-column-filter input[type="text"] {
  border-radius: 0.5rem!important;
}

.p-datatable .p-column-header-content {
  margin-left: auto;
  margin-right: auto;
}

/* paginator */
.p-paginator {
  border-width: 1px!important;
  padding: 0;
}

.p-paginator .p-dropdown {
  margin-left: 6px;
  margin-right: 6px;
  min-width: 6rem;
  border-radius: 10px;
}

/* errors  */
.red {color: red;}
.yellow {color: yellow;}
.green {color: green;}

.p-panel.errors {
  margin-top: 1px;
}
.p-panel .p-panel-header {
  height: 2.5rem;
}
.p-panel.errors .p-panel-content {
  padding: 0.25rem;
}
.p-listbox.error-log {
  border: none;
}
.p-listbox.error-log .p-listbox-header {
  padding: 0;
}
.p-listbox.error-log .p-listbox-filter{
  height: 1.7rem;
}

/* theme in settings */
.theme-option {
  width: 100%;
  height: 100%;
}

.p-speeddial-item a[role="menuitem"] {
  background-color: var(--primary-color) !important;
  color: var(--primary-color-text) !important;
}

#selection-theme .p-button {
  width: 16px!important;
  min-width: 16px!important;
  height: 16px!important;
  padding: 2px!important;
  border: 1px solid!important;
}

#selection-theme .p-button #arya-blue {background-color: #64B5F6}
#selection-theme .p-button #arya-green {background-color: #81C784}
#selection-theme .p-button #arya-orange {background-color: #FFD54F}
#selection-theme .p-button #arya-purple {background-color: #BA68C8}
#selection-theme .p-button #bootstrap4-light-blue {background-color: #007bff}
#selection-theme .p-button #bootstrap4-dark-blue {background-color: #8dd0ff}
#selection-theme .p-button #bootstrap4-light-purple {background-color: #883cae}
#selection-theme .p-button #bootstrap4-dark-purple {background-color: #c298d8}
#selection-theme .p-button #fluent-light {background-color: #0078d4}
#selection-theme .p-button #luna-amber {background-color: #FFE082}
#selection-theme .p-button #luna-green {background-color: #C5E1A5}
#selection-theme .p-button #luna-blue {background-color: #81D4FA}
#selection-theme .p-button #luna-pink {background-color: #F48FB1}
#selection-theme .p-button #md-dark-deeppurple {background-color: #CE93D8}
#selection-theme .p-button #md-dark-indigo {background-color: #9FA8DA}
#selection-theme .p-button #md-light-deeppurple {background-color: #673AB7}
#selection-theme .p-button #md-light-indigo {background-color: #3F51B5}
#selection-theme .p-button #mdc-dark-deeppurple {background-color: #CE93D8}
#selection-theme .p-button #mdc-dark-indigo {background-color: #9FA8DA}
#selection-theme .p-button #mdc-light-deeppurple {background-color: #673AB7}
#selection-theme .p-button #mdc-light-indigo {background-color: #3F51B5}
#selection-theme .p-button #nova {background-color: #007ad9}
#selection-theme .p-button #nova-accent {background-color: #007ad9}
#selection-theme .p-button #nova-alt {background-color: #007ad9}
#selection-theme .p-button #rhea {background-color: #7B95A3}
#selection-theme .p-button #saga-blue {background-color: #2196F3}
#selection-theme .p-button #saga-green {background-color: #4CAF50}
#selection-theme .p-button #saga-orange {background-color: #FFC107}
#selection-theme .p-button #saga-purple {background-color: #9C27B0}
#selection-theme .p-button #tailwind-light {background-color: #4F46E5}
#selection-theme .p-button #vela-blue {background-color: #64B5F6}
#selection-theme .p-button #vela-green {background-color: #81C784}
#selection-theme .p-button #vela-orange {background-color: #FFD54F}
#selection-theme .p-button #vela-purple {background-color: #BA68C8}